
.idea/DP-imdb_top_250.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.ipynb_checkpoints/Prototype-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
__pycache__/scraper.cpython-310.pyc
Notebooks/Untitled*
*.pyc
Notebooks/.ipynb_checkpoints/*
Notebooks/imdb_top_250_adjusted_*.csv
imdb_top_250_adjusted_*.csv
title_tt*
/content_files/
Notebooks/.ipynb_checkpoints/Prototype-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Prototype-checkpoint.ipynb
